.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard .box-container .box {
  text-align: left; /* Adjusted to align text to the left */
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.5rem;
}

.dashboard .box-container .box h3 {
  font-size: 1rem; /* Adjusted font size */
  color: #000;
  font-weight: bold;
}

.dashboard .box-container .box p {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  color: green; /* Set to green */
  border: 1px solid #ccc;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600; /* Semi-bold */
}
